<div class="container p-5">
  <div class="row">
    <form>
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="name">name</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-book-open"></i>
              </div>
            </div>
            <input type="text" class="form-control" id="name" placeholder="name">
          </div>
        </div>

        <div class="col-auto">
          <label class="sr-only" for="author">Author</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-user"></i>
              </div>
            </div>
            <input type="text" class="form-control" id="author" placeholder="Author">
          </div>
        </div>

        <div class="col-auto">
          <label class="sr-only" for="date">publicationDate</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-user"></i>
              </div>
            </div>
            <input type="text" class="form-control" id="date" placeholder="publicationDate">
          </div>
        </div>


        <button type="button" class="btn btn-primary mb-2">Search</button>
      </div>

    </form>
  </div>

  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Book</th>
        <th scope="col">Series</th>
        <th scope="col">Author</th>
        <th scope="col">Publication Date</th>
        <th scope="col">Genre label</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{book?.bookLabel?.value}}</td>
        <td>{{book?.series_label?.value}}</td>
        <td>{{book?.authorLabel?.value}}</td>
        <td>{{book?.publicationDate?.value}}</td>
        <td>{{book?.genre_label?.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
